.container {
  width: 100%;
  max-width: 600px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 30px auto;
  border: 0.2px solid;
  border-radius: 10px;
}

.weather-app {
  padding: 5%;
  margin: 20px auto;
}

h1 {
  display: block;
  font-size: 50px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  line-height: 40px;
  margin: 0 auto;
  padding: 5px;
}

h2 {
  font-size: 30px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0 auto;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  padding: 5px;
}

h3 {
  font-size: 30px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0 auto;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  padding: 5px;
}

h4 {
  text-transform: capitalize;
}

ul {
  list-style: none;
  color: grey;
  text-align: right;
  margin-right: 15px;
  padding: 10px;
}

form {
  padding: 0.5%;
  margin: 12px auto;
}

col {
  text-align: center;
  padding: 50px;
  margin: auto;
}

img {
  text-align: center;
  padding: 0.7%;
  max-width: 60px;
}

.btn {
  text-align: center;
  font-size: 13px;
  top: -0.4px;
}

p {
  text-align: center;
  font-size: x-small;
}

.list-wrap {
  text-align: center;
  margin: 0 auto;
}

.current_description {
}
